body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-color: #f4f3f3;
}



.btn {
  background: #0b8457;
  border: #0b8457;
    /*background: #226597;*/
    /*border: #226597;*/
}

/* body {
  background-color: #EEC1EA;
}